@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}

html, body {
    background-color: #EDF2F4;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.HEADER {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.HEADER i {
    font-size: 20pt;
}

.HEADER button{
    background: none;
    border: none;
}

.HEADER__user {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnVoltar{
    display: inline-block;
}

#voltar i {
    color: #CC0D0D;
}


#etapa_1{
    display:flex;
    margin: auto;
    padding: 5px;
    max-width: 90%;
}

#conteudoEtapa1{
    padding: 25px;
}

#tituloEtapa1{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.titulo_Etapa1{
    font-size:25px;
}
.form-label{
    margin-top: 10px;
    margin-bottom: 10px;
}

#btnProximo{
    margin-top: 10px;
}

#btn_ProximoEtapa1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC0D0D;
    border: none;
}

.MAIN {
    margin: auto;
    margin-top: 45px;
}

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background: #CC0D0D;
    text-align: center;
    border-radius: 30px 30px 30px 30px; 
    color: white;
    padding: 5px 10px;
    font-size: 14px;

}

#ads .card-notify-year {
    position: absolute;
    right: -10px;
    top: -20px;
    background: #CC0D0D;
    border-radius: 50%;
    text-align: center;
    color: #fff;      
    font-size: 14px;      
    width: 50px;
    height: 50px;    
    padding: 15px 0 0 0;
}

#ads .card-detail-badge {      
    background: #CC0D0D;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;        
} 

#ads .card:hover {
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#ads .card-image{
    margin: auto;
}

#ads .card-image-overlay {
    margin: 10px 20px 10px 20px;
    font-size: 20px;
    
}

#ads .card-image-overlay #secaoCardCarro{
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}

#ads .card-image-overlay span {
    display: inline-block;              
}

#ads #botaoCard:hover {
    background-color: #CC0D0D;;
    color: white;
    border: 2px solid #CC0D0D;;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

#botaoCard{
    width: 150px;
    height: 40px;
    border-radius: 80px;
    border: 3px solid #CC0D0D;;
    background-color: #CC0D0D;;
    color: white;
    margin: 20px auto 1px auto;
    display: block;
    overflow: hidden;        
    position: relative;
}

#cardCarro{
    margin-bottom: 50px;
    margin-top: 10px;
}


.btn-primary:hover, .btn-primary:focus {  
    background-color: #CC0D0D;
    border-color: #CC0D0D;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #CC0D0D;
    border-color: #CC0D0D;
}

#team .card {
    border: none;
    background: #ffffff;
}

.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.frontside .card{
    min-height: 312px;
}

.frontside .card .card-body img {
    width: 100%;
    border-radius: none;
}

.Categoria{
    margin-top: 50px;
}

#secaoCategoria{
    display: flex;
    margin: auto;
}

#iconCardCarro{
    width: 35px;
    margin-right: 5px;
}

@media  (max-width: 1024px) {
    .col-md-4{
        margin: auto;
        width: 76%;
    }
}

footer {
    display: flex; 
    background: white;
    padding: 16px;
    align-items: center;
}

.footer-img{
    width: 10%;
}

.footer-loc{
    display: flex;
    margin:auto;
} 

.footer-icon{ 
    width: 64px;
    height: 64px;
}

.copyright {
    display: flex;         
    align-self: center;
    font-size: 8pt;
    opacity: 0.7;
    margin-bottom: 0px;
}

