@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}

.header {
    background-color: rgba(0, 201, 0, 0.5);
}

.user__menu {
    width: 80%;
}

.chev {
    width: 48px;
    height: 48px;
}

.chev[aria-expanded="true"]{
    transform: rotate(180deg);
}

.notify button{
    width: 20%;
    background: none;
    border: none;
    outline: none;
}

.header__navbar {

}

.header__navbar li > a{
    color: black;
}

.MAIN {
    margin: auto;
    margin-top: 45px;
}

.MAIN__search {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-evenly;
    background: white;
    box-shadow: 2px 2px 5px #363636f2;
}

.MAIN__search input{
    flex: 0.95;
    margin-left: 10px;
    border: none;
    background: none;
    outline: none;
}

.MAIN__types {
    padding: 20px;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    column-gap: 10px;
    grid-template-columns: repeat(8, 90px);
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: auto;
}

.MAIN__types .opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #363636f2;
}

.MAIN__types .opt > img {
    width: 100%;
}


@media(min-device-width:820px) and (max-device-width: 1400px) {
    .MAIN__result {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: [left] 50% [right] 50%
    }
}

@media(min-device-width:1401px) {
    .MAIN__result {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: [left] 33.33% [center] 33.33% [right] 33.33%
    }
}