body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(50% 50% at 50% 50%, #CC0D0D 0%, #780C0C 100%);
    overflow-y: hidden;
}

.gap-3{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 120px;
    height: 120px;
    margin-bottom: 4vh;
}

.form {
    margin-top: 120px;
    grid-template-columns:  20% 60% 20%;
}

form {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    grid-column-start: 2;
}

.form-label {
    margin-bottom: none !important;
    margin-right: 16px;
}

.form__links {
    margin-top: 20px;
    text-align: center;
}

.submit-link {
    display: flex;
    justify-content: space-between;
}

.submit-link button{
   background: #780C0C;
   border: none;
   height: 40px;
}

.form__msg {
    text-align: center;
    padding-bottom: 30px;
}

@media (max-width:565px) {
    form {
        padding: 0;
        padding-top: 40px;
        border-radius: 0px;
        padding-bottom: 100% !important;
    }
    
    .submit-link .form-check > label {
        font-size: 10pt;
    }
}