body {
    margin: 0;
    padding: 0;
    background: rgba(0, 201, 0, 0.5);
}

form {
    margin-top: 80px;
}

.form__links {
    margin-top: 20px;
    text-align: center;
}

.submit-link {
    display: flex;
    justify-content: space-between;
}

.submit-link button{
   background: #00C900;
   border: none;
}

.form__msg {
    text-align: center;
}
