@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}

body {
    background-color: #EDF2F4;
}

#imagemCarro{
	max-width: 600px;
	max-height: 300px;
    min-width: 315px;
	min-height: 171px;
}

.HEADER {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.HEADER i {
    font-size: 20pt;
}

.HEADER button{
    background: none;
    border: none;
}

.HEADER__user {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnVoltar{
    display: inline-block;
}

#MAIN{
    display: flex;      
    justify-content: center;
}

#cardReserva{
    align-self: center;
    display: flex;
    margin: auto
}

.tile{
	min-width: 268px;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 10px 5px;

}

.header{
	border-bottom:1px solid #ebeff2;
	padding:19px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
	position:relative;
}

.banner-img {
	padding: 5px 5px 0;
}

.banner-img img {
	width: 100%;
	border-radius: 5px;
}

.dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:5px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
	overflow:auto;
}
.dates div{
	float:left;
	width:50%;
	text-align:center;
	position:relative;
}
.dates strong,
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:15px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
}

.stats div{
	border-right:1px solid #ebeff2;
	width: 33.33333%;
	float:left;
	text-align:center
}

#valor{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding-top:15px;
	padding-bottom:15px;
	font-size:20px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
	display: flex;		
	justify-content: space-evenly;
	color: black;
}

.stats div:nth-of-type(3){border:none;}

div.footer {
	text-align: right;
	position: relative;
	margin: 8px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

#btnCancelar{
	background-color: #CC0D0D;
    border-color:#CC0D0D;
    color:#f7f8fa;
    display: flex;
    font-size: smaller;
    text-align: center;
    justify-content: center;
}

#btnConfirmar{
	background-color: #59687f;
    border-color:#59687f;
    color:#f7f8fa;
    display: flex;
    font-size: smaller;
    text-align: center;
    justify-content: center;
}

div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}

.center {
    margin-top:50px;   
}

#segundaLinha{
	display: flex;
	justify-content: space-around;
}

#seguro{
	float: right;
}

footer {
    display: flex; 
    background: white;
    margin-top: 120px;
    padding: 16px;
    align-items: center;
}
.footer-img{
    width: 10%;
}
.footer-loc{
    display: flex;
    margin:auto;
} 

.footer-icon{ 
    width: 30%;
}

.copyright {
    display: flex;         
    align-self: center;
    font-size: 8pt;
    opacity: 0.7;
}

#fim{
	display: flex;
	align-items: center;
    text-align: center;    
	margin-top: 10%;

}

.fimTitulo #tituloEtapa1{
	font-size: xxx-large;
   	color: darkgrey;
}

#voltarLink{
	font-size: 20px;
}

.avaliacao{
	padding: 15px;
	border: #ced1d6 solid 1px;
	background-color:white;
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
}

